<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name=".SubtitleEditApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubtitleEditforAndroid"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="34">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SubtitleEditforAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".EditorActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
            
        <activity
            android:name=".BatchConvertActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />
            
        <activity
            android:name=".DraftsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />
            
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />
            
        <activity
            android:name=".ToolsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />
            
        <activity
            android:name=".MediaConvertActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

        <activity
            android:name=".SpeechToSubtitleActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <activity
            android:name=".AutoTimestampActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <activity
            android:name=".ModelSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

        <activity
            android:name=".SpeechToSubtitleSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

        <activity
            android:name=".WhisperSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

        <activity
            android:name=".AiSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:theme="@style/Theme.SubtitleEditforAndroid" />

    </application>

</manifest>
